ServerSignature Off

# Disable directory browsing
Options -Indexes

RewriteEngine On

<Files .htaccess>
RewriteRule ^(.*)$ web/$1 [L,QSA]
Order allow,deny
Deny from all
</Files>

RewriteRule ^(.*)$ web/$1 [L,QSA]
